<style>
    p{
        text-align: center;
    }
    footer{
        position: absolute;
    }
</style>
<p>This project is created using Express, Node and MongoDB</p>
<section>
  &copy Savitha Gollamudi
</section>