<style>
    i {
        font-family: 'Fira Sans', sans-serif;
    }

    body {
        background-image: url('https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center;     */
    }

    #content {
        text-align: center;
        padding-top: 10%;
    }
</style>
<div id="content">
    <h1>{{title}}</h1>
    <h4>Never worry about forgetting things again. :)</h4>
    <hr>
    <a href = "/todo/add" class="btn btn-dark btn-outline-default my-2 my-sm-0" type="submit">
        <i class="fas fa-check"></i>
        Organize your life!</a>
</div>